@{
    ViewData["Title"] = "Add an interest";
}

@model DiLPr.Models.Profile

<h2>What does @Html.DisplayFor(model => model.Name) like?</h2>
<br>
@* @using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProfileId)

  @Html.DropDownList("TagId")
  @Html.Label("that's what they like to do!")
  <br><br>
  <input type="submit" value="Add interest" id="green-button"/>
} *@

  <form method="post">
    <table class="table" style="width: 200px;">
      @foreach (Tag tag in ViewBag.Tags)
      {
        <tr>
          <td>@tag.Name</td>
          <td><input name="tags" type="checkbox" value="@tag.TagId"></td>
        </tr>
      }
    </table>
    <input type="hidden" value="@Model.ProfileId" name="profileId" id="profileId">
    <input type="submit" value="Add">
    <br><br>
    <h5>@Html.ActionLink("Cancel", "Index")</h5>
  </form>