@{
    ViewData["Title"] = $"{Model.Name}'s Profile";
}

@using DiLPr.Models
@model DiLPr.Models.Profile

<div id="profile">
  <h1>@Model.Name - @Model.Age years old</h1>
  <h3>@Model.Breed</h3>
  <br>
  @if(ViewBag.Images.Count > 0)
  {
    @foreach (KeyValuePair<int, string> entry in ViewBag.Images)
    {
      <img src="data:image/jpg;base64,@entry.Value" alt="Profile Image" class="profileImg"/>
      
    }
  }

  <br><br>
  <h5 id="accent" style="font-weight:bold; font-size:24px;">About me</h5>
  <p>@Model.Details</p>
  <br><br>
  <h5 id="accent" style="font-weight:bold; font-size:24px;">Interests</h5>

  <ul id="profile-tag-list">
  @foreach (TagProfile join in Model.JoinEntities)
  {
    <li id="profile-tag">
      @Html.ActionLink(join.Tag.Name, "Details", "Tags", new { id = join.TagId }, null)
    </li>
  }
  </ul>
</div>
<br>
<span id="profile-links">@Html.ActionLink("Back to browse", "Index", "Tags")</span>