@{
    ViewData["Title"] = "My Profile";
}

@using DiLPr.Models
@model DiLPr.Models.Profile

<div id="profile">
    <h1>@Model.Name - @Model.Age years old</h1>
    <h3>@Model.Breed</h3>
    <br>
    @if(ViewBag.Images.Count > 0)
    {
        @foreach (KeyValuePair<int, string> entry in ViewBag.Images)
        {
            <br>
            <img src="data:image/jpg;base64,@entry.Value" alt="Profile Image" class="profileImg"/>
            <br>
            <button id="profile-btn">@Html.ActionLink("Make Profile Pic", "UpdateProfilePic", new { id = entry.Key })</button>
            <form method = "post" action="@Url.Action("DeletePicture", "Profiles")">
                <input type="hidden" value="@entry.Key" name="id">
                <button id="profile-btn" type="submit">Delete This Picture</button>
            </form>
            
        }
    }
    <br><br><br>
    <h5>About me</h5>
    <p>@Model.Details</p>
    <br><br>
    <h5>Interests</h5>

    <ul id="profile-tag-list">
    @foreach (TagProfile join in Model.JoinEntities)
    {
        <li id="profile-tag">
            @Html.ActionLink(join.Tag.Name, "Details", "Tags", new { id = join.TagId }, null)
            @using (Html.BeginForm("DeleteJoin", "Tags", new { joinId = join.TagProfileId }))
            {
                <button type="submit" id="tiny-btn">x</button>
            }
        </li>
    }
    </ul>
</div>
<br /><br />
@Html.ActionLink("Add Some Interests |", "AddTag", new { id = Model.ProfileId })

<span id="profile-links">@Html.ActionLink("Edit Profile |", "Edit", new { id = Model.ProfileId })</span>
<span id="profile-links">@Html.ActionLink("Add a Profile Pic", "UploadImage", new { id = Model.ProfileId })</span>