@using DiLPr.ViewModels
@model LoginViewModel

<div id="login-modal" class="modal obscured">
  <div class="modal-message">Log in</div>
  @if(!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary()
  }
  @using (Html.BeginForm("Login", "Account"))
  {
    <div class="form-row">
      @Html.LabelFor(m => m.Email)
      @Html.TextBoxFor(m => m.Email)
    </div>
    <div class="form-row">
      @Html.LabelFor(m => m.Password)
      @Html.EditorFor(m => m.Password)
    </div>
    <div class="button-area">
      <button class="red" type="submit">Log in</button>
    </div>
  }
  <div class="button-area">
    <button id="cancel-btn" onclick="hideModal('login')">Cancel</button>
  </div>
</div>