@{
    ViewData["Title"] = "Homeward Bound";
}

@if (User.Identity.IsAuthenticated)
{
  <div class="text-center">
    <h1 class="display-4">Welcome to DiLPr</h1>
  </div>

  <div class="cardcontainer list">
    <ul class="cardlist">
      <div class="dog-profile">
        @for(int i=0; i < 1; i++)
        {
          <li class="card current">
            <h2>@ViewBag.Profiles[i].Name</h2>
            <p>@ViewBag.Profiles[i].Age years old</p>
            <p>About Me:<br>@ViewBag.Profiles[i].Details</p>
            <p>@Html.ActionLink("See More", "Details", "Profiles", new { id = @ViewBag.Profiles[i].ProfileId })</p>
          </li>
        }
        @for(int i=1; i<@ViewBag.Profiles.Count; i++)
        {
          <li class="card">
            <h2>@ViewBag.Profiles[i].Name</h2>
            <p>@ViewBag.Profiles[i].Age years old</p>
            <p>About Me:<br>@ViewBag.Profiles[i]Details</p>
            <p>@Html.ActionLink("See More", "Details", "Profiles", new { id = @ViewBag.Profiles[i].ProfileId })</p>
          </li>
        }
      </div>      
    </ul>
    <button class="but-nope">❌</button>
    <button class="but-yay">✔️</button>
  </div>
}
else
{
  <h1>Dog-gone it!</h1> //sad dog face goes here//
  <h5>You must log in or create an account to view pups in your area</h5>
}