@{
    ViewData["Title"] = "Homeward Bound";
}

@if (User.Identity.IsAuthenticated)
{
  <div class="text-center">
    <h1 class="display-4">Welcome to DiLPr</h1>
  </div>

  <div class="cardcontainer list">
    <ul class="cardlist">
      <div class="dog-profile">
        @foreach (KeyValuePair<string, Profile>entry in @ViewBag.Profiles)
        {
          <li class="card">
            <img src="data:image/jpg;base64,@entry.Key" alt="Profile Image" class="profileImg"/>
            <div class="profileText">
              <h2>@entry.Value.Name</h2>
              <p>@entry.Value.Age years old</p>
              <p>About Me:<br>@entry.Value.Details</p>
              <p>@Html.ActionLink("See More", "Details", "Profiles", new { id = @entry.Value.ProfileId })</p>
            </div>
          </li>
        }
          

      </div>      
    </ul>
    <button class="but-nope">❌</button>
    <button class="but-yay">✔️</button>
  </div>
}
else
{
  <h1>Dog-gone it!</h1> //sad dog face goes here//
  <h5>You must log in or create an account to view pups in your area</h5>
}